body {
  background-color: grey;
}

.cool {
  visibility: visible;
  width: 100px;
  height: 100px;
  background-color: rgb(214, 190, 214);
  transition: background-color 4s;
}

.cool.red {
  visibility: visible;
  background-color: rgb(66, 66, 202);
}
